<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.example.hellospringboot.SpringBootMybatis.hellomybatis.mapper.PersonMapper" >
    <resultMap id ="PersonMap" type="com.example.hellospringboot.SpringBootMybatis.hellomybatis.dto.Person">
        <id property="id" column="id" javaType="int"></id>
        <result property="userName" column="user_name" javaType="string"/>
        <result property="age" column="age" javaType="int"/>
    </resultMap>

    <select id="getPersonById" parameterType="integer" resultMap="PersonMap">
        select id,user_name,age FROM person WHERE id = #{id};
    </select>

</mapper>